*.a
*.o
*~

.deps

*.diff
*.patch
*.orig
*.rej

/INSTALL
/Makefile
/Makefile.in
*/Makefile
*/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/depcomp

/irqbalance
irqbalance-*.tar.*
